
/* the command below was exported from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald&display=swap');

path {
  fill: none;
  stroke-width: 1px;
  stroke: #a8a8a8;
  stroke-opacity: 0.6;
}
